

.formCedula1{
    position: center;
    padding: 12px 20px;
    margin-top: 1%;
   

}

.formNombre{
    position: center;
    padding: 12px 20px;
    margin-top: 1%;
   

}

.formEmail{
    position: center;
    padding: 12px 20px;
    margin-top: 1%;
   

}

.formTelefono{
    position: center;
    padding: 12px 20px;
    margin-top: 1%;
   

}

.formContrasena{
    position: center;
    padding: 12px 20px;
    margin-top: 1%;

}

.bienvenidas{
    margin-top: 3%;
    margin-right: 2%;
}

.btnIngresar1{
    font-family: 'Serif';
    font-size: 150%;
    position: center;
    margin-top: 1%;
    margin-right: 40%;
    color: white;
    background-color: black;
    border-color: black;
    display: inline-block;
    padding: 5px 40px;
    margin-left: 40%;
}

